.catalogContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 900px) {
  .catalogContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .catalogContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
